mixin button(buttonInfo = {})
    button.btn(type=buttonInfo.type, class=buttonInfo.extraClass, id=buttonInfo.id)=buttonInfo.text

mixin linkButton(linkButtonInfo = {})
    a(href=linkButtonInfo.href).btn(class=linkButtonInfo.extraClass)=linkButtonInfo.text

mixin topScrollButton(topScrollButtonInfo = {})
    a(href=topScrollButtonInfo.href).btn.btn-top-scroll(class=topScrollButtonInfo.extraClass) Top


